<div class="text-center">
  <p class='reverse-color'><%= flash[:notice] if flash[:notice] %></p>
  <h2><%= @task.description %></h2>
  <p>Time in: <%= @task.time_in.strftime("%I:%M %p | %b. %d") %></p>
  <p>Time out: <%= @task.time_out ? @task.time_out.strftime("%I:%M %p | %b. %d") : "Open" %></p>
  <% if @task.is_completed %>
    <p>Duration: <%= @task.duration[:hours] %>h <%= @task.duration[:minutes] %>m</p>
  <% end %>

  <h4><a href="/employers/<%= @task.employer.id %>" class='btn no-link'><%= @task.employer.name %></a></h4>

  <div class="margin-15">
    <button id='show-button' class="btn">Edit Job</button>
  </div>

</div>

<div class="not-visible top-border">
  <%= render 'form_update' %>
</div>