<!DOCTYPE html>
<html>
<head>
  <title>TimeLogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body class='big-border'>

<!--   <nav>
    <div class='links'>
        <%= link_to 'Bosses', employers_path, class: 'list-block' %><%= link_to 'Manage', manage_path, class: 'list-block' %>
    </div>
  </nav> -->

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer text-center">
    <%= link_to "Bosses", employers_path, class: 'btn btn-wide' %>
    <%= link_to "Manage", manage_path, class: 'btn btn-wide' %>
    <p class="text-center">Copyright 2016</p>
  </div>

</body>
</html>
